<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>\~~</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℵ</string>
		<key>shortcut</key>
		<string>\aleph</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>\alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>\beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☣︎</string>
		<key>shortcut</key>
		<string>\biohazard</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩</string>
		<key>shortcut</key>
		<string>\cap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℂ</string>
		<key>shortcut</key>
		<string>\CC</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✓</string>
		<key>shortcut</key>
		<string>\check</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝛘</string>
		<key>shortcut</key>
		<string>\chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∪</string>
		<key>shortcut</key>
		<string>\cup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>†</string>
		<key>shortcut</key>
		<string>\dagger</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⨁</string>
		<key>shortcut</key>
		<string>\dirsum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>\down</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔼</string>
		<key>shortcut</key>
		<string>\EE</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε</string>
		<key>shortcut</key>
		<string>\epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇌</string>
		<key>shortcut</key>
		<string>\eq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>η</string>
		<key>shortcut</key>
		<string>\eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∃</string>
		<key>shortcut</key>
		<string>\ex</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♀</string>
		<key>shortcut</key>
		<string>\female</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔽</string>
		<key>shortcut</key>
		<string>\FF</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>\forall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ɣ</string>
		<key>shortcut</key>
		<string>\gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⚥</string>
		<key>shortcut</key>
		<string>\herm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>\iff</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕀</string>
		<key>shortcut</key>
		<string>\II</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>\in</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∞</string>
		<key>shortcut</key>
		<string>\infinity</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>—˧</string>
		<key>shortcut</key>
		<string>\inhibits</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩</string>
		<key>shortcut</key>
		<string>\intersection</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>κ</string>
		<key>shortcut</key>
		<string>\kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓛</string>
		<key>shortcut</key>
		<string>\l~</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lamda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇐</string>
		<key>shortcut</key>
		<string>\leftarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↯</string>
		<key>shortcut</key>
		<string>\lightning</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♂</string>
		<key>shortcut</key>
		<string>\male</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↦</string>
		<key>shortcut</key>
		<string>\mapsto</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∇</string>
		<key>shortcut</key>
		<string>\nabla</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>\neq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℕ</string>
		<key>shortcut</key>
		<string>\NN</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∉</string>
		<key>shortcut</key>
		<string>\notin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊄</string>
		<key>shortcut</key>
		<string>\notsubset</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ν</string>
		<key>shortcut</key>
		<string>\nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ω</string>
		<key>shortcut</key>
		<string>\omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>\ot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ɸ</string>
		<key>shortcut</key>
		<string>\phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↱</string>
		<key>shortcut</key>
		<string>\promoter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∝</string>
		<key>shortcut</key>
		<string>\prop</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ψ</string>
		<key>shortcut</key>
		<string>\Psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∎</string>
		<key>shortcut</key>
		<string>\qed</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℚ</string>
		<key>shortcut</key>
		<string>\QQ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☢︎</string>
		<key>shortcut</key>
		<string>\radioactive</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ρ</string>
		<key>shortcut</key>
		<string>\rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℝ</string>
		<key>shortcut</key>
		<string>\RR</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∖</string>
		<key>shortcut</key>
		<string>\setm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>\sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∝</string>
		<key>shortcut</key>
		<string>\similar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★</string>
		<key>shortcut</key>
		<string>\star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂</string>
		<key>shortcut</key>
		<string>\subset</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑</string>
		<key>shortcut</key>
		<string>\sum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊃</string>
		<key>shortcut</key>
		<string>\supset</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝜏</string>
		<key>shortcut</key>
		<string>\tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>\then</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>\to</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∪</string>
		<key>shortcut</key>
		<string>\union</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☿</string>
		<key>shortcut</key>
		<string>\unmated</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>\up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ξ</string>
		<key>shortcut</key>
		<string>\xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝛇</string>
		<key>shortcut</key>
		<string>\zeta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℤ</string>
		<key>shortcut</key>
		<string>\ZZ</string>
	</dict>
</array>
</plist>
